.burger{
    height:28px;
    width: 32px;
    display: none;
}
.layer1,.layer2,.layer3{
    background:black;
    height:4px;
    margin-top:4px;
    width:100%;
    border-radius:10px;  
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:10vh;
    background-color: #ececec;

}
.logo{
    padding-left:2em;
}
.logo-text{
    font-size:1.5em;
}
.list{
    display:flex;
    cursor:pointer;
}
.list-items a{
    display:flex;
    justify-content:space-between;
}
.list-items a:hover{
    color:black;
}